/* 
---01 TYPOGRAPHY SYSTEM

- Font Sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weight: 
  
  Defaults: 300
  Medium: 400
  Semi-bold: 600

- Line Height: 

  Paragraph Default: 1.5

- Lettre spacing: 

 .5px
.75px


---02 COLORS

  - Primary: 
  - Tints:  
  - Shades: 
    
  - Accents:
  - Greys:  


---05 SHADOWS
  8px 8px 30px rgba(0, 0, 0, 0.1)

---06 BORDER-RADIUS

    Big: 1.6rem = 16px
    Medium: 1.2rem = 12 px


---07 WHITESPACE

  - SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --Card-1: hsl(180, 62%, 55%);
  --Card-2: hsl(0, 78%, 62%);
  --Card-3: hsl(34, 97%, 64%);
  --Card-4: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  /* color: var(--paragraphs-white); */
  position: relative;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--Very-Dark-Blue);
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
}

span {
  display: block;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
}

.description {
  width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container p {
  font-size: 1.6rem;
  color: var(--Grayish-Blue);
  font-weight: 400;
  text-align: center;
}

.four-card-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.cards {
  width: 25vw;
  height: 27vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3.2rem;
  box-shadow: 0rem 1rem 2rem hsla(234, 12%, 34%, 0.2);
  border-radius: 6px;
}

.cards h3 {
  font-size: 2rem;
  color: var(--Very-Dark-Blue);
  font-weight: 600;
}

.cards p {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--Grayish-Blue);
  text-align: left;
  margin-right: 4rem;
}

.cards img {
  width: 6rem;
  height: 6rem;
  align-self: flex-end;
  margin-top: 1.6rem;
}

.card--1 {
  border-top: 4px solid var(--Card-1);
}
.card--2 {
  border-top: 4px solid var(--Card-2);
}
.card--3 {
  border-top: 4px solid var(--Card-3);
}
.card--4 {
  border-top: 4px solid var(--Card-4);
}

.column--2 {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

footer {
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 24rem) {
  main {
    height: auto;
    margin: 8rem 0;
  }

  h1 {
    font-size: 2.4rem;
  }

  .four-card-feature {
    flex-direction: column;
  }

  .cards {
    width: 85vw;
  }

  .cards p {
    margin-right: 2rem;
  }

  .description {
    width: 85vw;
  }
}
